@import './normalize.css';
@import './utils.css';
@import './grid.css';
@import './navbar/navbarDesktop.css';
@import './navbar/navbarMobile.css';
@import './main.css';
@import './aside.css';
@import './overview.css';
@import './repositories.css';
@import './footer.css';

@font-face {
  font-family: menlo;
  src: url('../assets/font/menlo.ttf');
}

@font-face {
  font-family: systemUI;
  src: url('../assets/font/systemUi.otf');
}