.container {
  display: grid;
  grid-template-columns: 1.3fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "aside content";
  height: 100%;
  width: 90%;
  max-width: 1400px;
  justify-self: center;
}

@media screen and (max-width: 1023px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
    grid-template-areas: 
                        "aside"
                        "content";
  }
}